---
---

@import "{{ site.theme }}"; 

.project-tagline {
  margin-bottom: 2rem;
  width: 200px;
  font-weight: normal;
  opacity: 0.7;

  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}
